/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #fff;
    font-size:  16px;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000;
}

/*//////////////////////////////// Admin Theme CSS///////////////////////// */

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
  background-color:#000;    
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;   
}
.list-unstyled li > ul
{
    background-color: #fff;
    padding: 0px;
}

.list-unstyled li {
   margin-left:10px;
   font-size: 16px;
   
}

.list-unstyled li > a > h5 {
   font-size: 20px;
   background-color: #fff;
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
    border-radius: 4px;
    margin-bottom: 2px;
    padding: 5px;
}

.list-unstyled li > ul > li > a > h5 {
   font-size: 20px;
   background-color: #fff;
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
    border-radius: 4px;
    margin-bottom: 4px;
    padding: 5px;
}
#LeftMenu
{
    
}
.list-unstyled
{
    background-color: #E4F1FF;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}


#leftInfo > tbody > tr > td
{
    border-top: 0px solid #ddd;    
    padding: 0px;
}
